{% extends 'base.html' %}
{% load static %}
{% block title %}Bag{% endblock %}

{% block content %}
<br>
<br>
<h1 class="text-center p-2 d-block">Your bag</h1>
<div class="container-fluid">
    {% if bag_items %}
    <div class="row justify-content-center">
        {% for item in bag_items %}
        <div class="col-md-4">
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title"><em>{{ item.event.name }}</em></h4>
                    <img src="{{ item.event.image.url }}" class="card-img-top fixed-height">
                    <p class="card-text"><strong>Date:</strong> {{ item.event.date }}</p>
                    <p class="card-text"><strong>Time:</strong> {{ item.event.time }}</p>
                    <p class="card-text"><strong>Price:</strong> ${{ item.event.price }}</p>
                    <p class="my-0"><strong>Location:</strong> {{ item.event.location }}</p>
                    <p class="my-0"><strong>Tickets:</strong> {{ item.quantity }}</p>
                    <p class="my-0"><strong>Grand Total:</strong> ${{ total }}</p>
                    <a class="remove-item text-danger btn btn-black rounded-0 btn-lg" id="remove_{{ item.item_id }}">
                        <span class="text-uppercase">Delete</span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="card-footer text-center">
    <a href="{% url 'event_list' %}" class="btn btn-warning float-left">Events</a>
    <a href="{% url 'checkout' %}" class="btn btn-danger float-right">Payment</a>
</div>

    

    {% else %}
    <p class="lead mb-5">Your bag is empty.</p>
    <a href="{% url 'event_list' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
</div>
{% endif %}
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'events/includes/quantity_input_script.html' %}
<script type="text/javascript">

    // Update quantity on click
    $('.update-link').click(function (e) {
        // $(this).parent().parent().parent().parent();
        console.log('Update link clicked');
        $(this).closest('.form-group');
        var form = $(this).prev('.update-form');
        form.submit();
    });

    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = '/bag/remove/' + itemId + '/';
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}