{% extends 'base.html' %}
{% load static %}
{% block page_header %}
{% endblock %}
{% block content %}
<hr>
<br>
<div class="container my-4 mb-5">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top" src="{% static 'icons/night2.jpg' %}" alt=" Card image cap">
                </div>
                <div class="card-body text-center">
                    <h4 class="font-weight-bold">Nightlife Events</h4>
                    <p>Ready to let loose and have a good time? Check out our selection of nightlife events, featuring
                        <strong>Live music</strong>, DJ sets, and
                        much more. From karaoke nights at your favorite <strong>Local bar</strong> to exclusive events
                        at trendy nightclubs, we've got you
                        covered.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top" src="{% static 'icons/familyevent.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h4 class="font-weight-bold">Family Events</h4>
                    <p>Fun for the whole family! Our family events section offers a variety of <strong>activities and
                            events that parents and kids can
                            enjoy together</strong>. From outdoor adventures to indoor play areas, you'll find something
                        for every age and interest.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img class="card-img-top" src="{% static 'icons/band.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="h5 font-weight-bold"></h5>
                    <h4 class="font-weight-bold">Contributing to Your Local Band</h4>
                    <p>Did you know that supporting your local music scene can have a big impact on your community? By
                        purchasing tickets to
                        <strong>local shows</strong> and spreading the word about local bands, <strong>You can help
                            support</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}