{% extends 'base.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Thank You</h2>
            <hr>
            <p>Your order information is below. A confirmation email will be sent to {{ order.email }}</p>
            <a href="{{ download_url }}">Download Your Tickets</a>
            <a href="{% url 'order_history' %}" class="btn">Order History</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7">
            <a href="{% url 'event_list' %}" class="btn">More Events</a>
        </div>
    </div>
</div>

{% endblock %}