<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
</head>

<body>
    <h1>Thank you for your order!</h1>
    <p>Dear {{ order.full_name }},</p>
    <p>We have received your order. Below are the details of your purchase:</p>
    <table>
        <tr>
            <td><strong>Order Number:</strong></td>
            <td>{{ order.order_number }}</td>
        </tr>
        <tr>
            <td><strong>Location:</strong></td>
            <td>{{ order.event.location }}</td>
        </tr>
        <tr>
            <td><strong>Date:</strong></td>
            <td>{{ order.event.date }}</td>
        </tr>
        <tr>
            <td><strong>Time:</strong></td>
            <td>{{ order.event.time }}</td>
        </tr>
        <tr>
            <td><strong>Quantity:</strong></td>
            <td>{{ order.lineitems.all.count }}</td>
        </tr>
        <tr>
            <td><strong>Total Price:</strong></td>
            <td>£{{ order.order_total }}</td>
        </tr>
    </table>
    <p>Please let us know if you have any questions about your order.</p>
    <p>Thank you again for your business!</p>
</body>

</html>