body {
    margin: 0;
    padding: 0;
    border-radius: 88px;
    background-color: hsla(173, 84%, 90%, 0.45) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato',
        sans-serif;
}

main {
    flex-grow: 1;
}


.fixed-height {
    height: 200px;
}

.fixed-height-bag {
    height: 200px;
    min-width: 250px;
}

/* Footer */
footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: var(--border);
    text-align: center;
    align-self: flex-end;
    background-color: hsla(173, 84%, 90%, 0.786) !important;
    border-radius: 88px;
}


.social-icon {
    height: 2rem;
    margin: 1rem;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 25px;
    z-index: 9999999;
}

/* buttons */
.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


.profile-img {
    width: 280 px;
    margin: 0 auto;
}

.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 100%;
    text-align: center;
}

.profile-events {
    width: 100%;

}

.text-white {
    color: white;
}

.header {
    width: 100%;
    border-radius: 88px;
    background-color: hsla(173, 84%, 90%, 0.786) !important;
}

/* Mailchimp */
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chimp {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-input {
    flex: 1;
    margin-right: 50px;
}

.flex-submit {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bag */
.card-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Gallery */
.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
        
}

.photo-container .photo-header {
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.photo-container .photo-header h1 {
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
}

.photo-container .photo-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo-container .photo-box .photo-col {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.photo-container .photo-box .photo-col img {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
}

.photo-container .photo-btn {
    margin: 40px 0 70px 0;
    padding: 15px 40px;
    border-radius: 5px;
}

.photo-container .photo-btn a {
    color: #fff;
    font-size: 1, 2em;
    text-decoration: none;
    font-weight: bolder;
}

@media only screen and (max-width: 769px) {
    .photo-container .photo-box {
        flex-direction: column;
    }
    .photo-container .photo-box .photo-col {
        width: 100%;
    }
}

@media (max-width: 650px) {
    footer {
        display: none;

    }

    .btn {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .photo-container .photo-header {
        width: 100%;
    }

    .photo-container .photo-header h3 {
        font-size: 1em;
    }

}

@media screen and (max-width: 480px) {
    .smaller-h1 {
        font-size: 24px;

    }
}
