{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="form-wrapper text-center">
    <div class="col-7 col-md-6 col-sm-6 my-auto">
        <h1 class="display-4 logo-font text-center text-black smaller-h1">
            The page you are looking for isn't available
        </h1>
        <div class="my-5 d-flex justify-content-center">
            <h4>
                <a href="{% url 'event_list' %}" class="btn btn-outline-info btn-lg rounded-0 text-uppercase py-3">
                    Return to shop
                </a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}